<div class="columns">
  <div class="column col-6 col-lg-12 centered">
    <h2 class="text-center">Create a new Todo</h2>
    <form (ngSubmit)="onSubmit(todoForm)" #todoForm="ngForm">
      <div class="input-group">
        <input
          [(ngModel)]="description"
          name="description"
          type="text"
          class="form-input input-lg"
          placeholder="Todo description..."
          required
          autofocus
        />
        <button
          type="submit"
          [disabled]="!todoForm.form.valid"
          class="btn btn-primary input-group-btn btn-lg">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
